---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.md')).sort(
	(a, b) =>
		new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en-us" class="dark">

	<body class="bg-white dark:bg-neutral-900">

		<Header />

			<main>
				<content class="text-center dark:text-gray-200">
					<ul>
						{posts.map((post) => (
							<li>
								<time datetime={post.frontmatter.publishDate}>
									{new Date(post.frontmatter.publishDate).toLocaleDateString('en-us', {
										year: 'numeric',
										month: 'short',
										day: 'numeric',
									})}
								</time>
								<a href={post.url} class="underline text-orange-300 hover:text-orange-500 visited:text-red-600">
									{post.frontmatter.title}
								</a>
							</li>
						))}
					</ul>
				</content>
			</main>

		<Footer />
	</body>
	
</html>
