---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/jetbrains-mono";

const Goals = [
    { name: "Tribe", description: "A self-hostable user submitted content-driven community.", completed: false },
    { name: "Cru", description: "The group based, fitness motivation app that I need.", completed: false },
    { name: "Dungeoneer", description: "A web game to fulfil that dungeon diving itch. Complete with website and API integration", completed: false },
    { name: "Cardigo", description: "Collaboratively send digital cards to your family, friends and others.", completed: false },
    { name: "More blog posts", description: "Lets keep this ball rolling!", link: "/blog", completed: false },
    { name: "Advent of Code 2022", description: "Completed advent of code using a random language each day.", link: "https://github.com/gdwr/aoc2022", completed: false },
    { name: "Write a blog post", description: "I really need to write something.", link: "/blog", completed: true }
]
---

<!DOCTYPE html>
<html lang="en-us" class="dark">

	<body class="font-['jetbrains_mono'] dark:bg-stone-900 ">
		
		<Header />
        
        <main class="flex flex-col items-center justify-center gap-8 text-center dark:text-white ">
            <h1 class="underline font-bold text-4xl"> Goals </h1>
            
            { Goals.map(goal => <a class=`group px-8 pb-4 pt-2 w-2/5 rounded-xl bg-stone-300 ${goal.link ? "hover:cursor-pointer" : "hover:cursor-default"} dark:bg-stone-800` href={goal.link}>
                <h2 class=`${goal.completed ? "line-through" : ""} text-2xl font-bold ${goal.link ? "group-hover:text-orange-400" : ""} dark:text-orange-300 ${goal.link ? "dark:group-hover:text-orange-500" : ""}`>{goal.name}</h2>
                <span>{goal.description}</span>
            </a>)
            }

        </main>

		<Footer />
	</body>
</html>
