---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/jetbrains-mono";

const Goals = [
    { name: "Advent of Code 2022", description: "Completed advent of code using a random language each day.", link: "https://github.com/gdwr/aoc2022", completed: false },
    { name: "Write a blog post", description: "I really need to write something.", link: "/blog", completed: false }
]
---

<!DOCTYPE html>
<html lang="en-us" class="dark">

	<body class="font-['jetbrains_mono'] dark:bg-stone-900 ">
		
		<Header />
        
        <main class="flex flex-col items-center justify-center gap-8 text-center dark:text-white ">
            <h1 class="underline font-bold text-4xl"> Goals </h1>
            
            { Goals.map(goal => <a class="group px-8 pb-4 pt-2 w-1/4 rounded-xl bg-stone-300 hover:cursor-pointer dark:bg-stone-800" href={goal.link}>
                <h2 class="text-2xl font-bold group-hover:text-orange-400 dark:text-orange-300 dark:group-hover:text-orange-500">{goal.name}</h2>
                <span>{goal.description}</span>
                <span>{goal.name}</span>
            </a>)
            }

        </main>

		<Footer />
	</body>
</html>
