---
import Footer from "../components/Footer.astro";
import "@fontsource/jetbrains-mono";

const Buttons = [
	{ text: "blog", link: "/blog" },
	{ text: "goals", link: "/goals" },
];

---

<!DOCTYPE html>
<html lang="en-us" class="dark">

	<body class="flex flex-col justify-center h-[77vh] font-['jetbrains_mono'] dark:bg-stone-900">
		
		<div class="flex flex-col items-center justify-center">
			<img src="/images/gdwr.png" alt="GDWR Avatar" class="h-72 hover:animate-pulse"/>
			<h1 class="text-stone-800 text-4xl dark:text-orange-500 md:text-6xl">GDWR</h1>
			<h2 class="text-stone-700 text-2xl text-center dark:text-orange-300 md:text-4xl">Fullstack Developer</h2>
		</div>

		<main class="mt-16 flex justify-center gap-12 text-center md:mt-8">
			{Buttons.map(b => <>
				<a
					class="px-10 py-4 text-2xl uppercase rounded-md border bg-orange-400 hover:bg-orange-500 dark:text-orange-300 dark:bg-stone-800 dark:border-stone-900 dark:hover:bg-stone-800 dark:hover:text-orange-500 dark:hover:border-orange-500"
					href={b.link}>
					{b.text}
				</a>
			</>)}
		</main>

		<Footer />
	</body>
</html>
