---
const today = new Date();
---

<footer class="text-center p-20">
	<span>{today.getFullYear()} GDWR. All rights reserved.</span>
	<a class="pr-5 text-gray-600 hover:text-gray-800" href="https://github.com/gdwr/gdwrsite" target="_blank">View the source.</a>
</footer>
