---
import GithubSVG from "/images/github-icon.svg";
import LinkedinSVG from "/images/linkedin-icon.svg";
import MailSVG from "/images/mail-icon.svg";

const today = new Date();
---

<footer class="text-center p-20">

	<div class="flex justify-center gap-8 pb-4">			
		<a href="https://github.com/gdwr"><img src={GithubSVG} class="w-8 hover:cursor-pointer"></a>
		<!-- <img src={LinkedinSVG} class="w-8 hover:cursor-pointer"> -->
		<a href="mailto:gregory.dwr@gmail.com"><img src={MailSVG} class="w-8 hover:cursor-pointer"></a>
	</div>
	<span class="text-gray-600 dark:text-gray-200">
		{today.getFullYear()} GDWR. All rights reserved.</span>
	<a 
	class="pr-5 text-orange-500 hover:text-orange-300 dark:text-orange-300 hover:dark:text-orange-500" 
	href="https://github.com/gdwr/gdwrsite" 
	target="_blank">
	View the source.
	</a>
</footer>
