---
import { SITE_TITLE } from '../config';
import "@fontsource/jetbrains-mono";
---

<header>
	<div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">

	  <a class="flex title-font font-medium items-center mb-4 md:mb-0 text-orange-500  hover:text-orange-300 dark:text-orange-300 dark:hover:text-orange-500" href="/">
		
		<div class="avatar p:10 w-20">
			<img src="/images/gdwr.png" > 
		</div>

		<h1 class="ml-3 text-4xl font-['jetbrains_mono']">{SITE_TITLE}</h1>
	  </a>
	  
	  <nav class="md:ml-auto divide-x divide-orange-500 dark:divide-orange-300">
		<a class="px-5 text-xl text-orange-500 hover:text-orange-400 dark:text-orange-300 dark:hover:text-orange-500" href="/">Home</a>
		<a class="px-5 text-xl text-orange-500 hover:text-orange-400 dark:text-orange-300 dark:hover:text-orange-500" href="/blog">Blog</a>
		<a class="px-5 text-xl text-orange-500 hover:text-orange-400 dark:text-orange-300 dark:hover:text-orange-500" href="/goals">Goals</a>
      </nav>
	
	</div>
  </header>
