---
import { SITE_TITLE } from '../config';
import "@fontsource/jetbrains-mono";
---

<header>
	<div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">

	  <a class="flex title-font font-medium items-center mb-4 md:mb-0 text-gray-700  hover:text-slate-800 dark:text-orange-300 dark:hover:text-orange-500" href="/">
		
		<div class="avatar p:10 w-20">
			<img src="/images/gdwr.png" > 
		</div>

		<h1 class="ml-3 text-4xl font-['jetbrains_mono']">{SITE_TITLE}</h1>
	  </a>
	  
	  <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">

		<a class="pr-5 text-xl text-orange-400 hover:text-orange-300 dark:text-orange-300 dark:hover:text-orange-500" href="/">Home</a>
		<a class="pr-5 text-xl text-orange-400 hover:text-orange-300 dark:text-orange-300 dark:hover:text-orange-500" href="/blog">Blog</a>
		<a class="pr-5 text-xl text-orange-400 hover:text-orange-300 dark:text-orange-300 dark:hover:text-orange-500" href="https://github.com/gdwr" target="_blank">GitHub</a>

      </nav>
	
	</div>
  </header>
